:root {
    --bg-nav: #333333;
    --transparent-button: rgba(255, 255, 255, 0.2);
    --active-button: #90ee90;
    --close-button: rgb(201, 30, 30);
    --close-button-hover: rgb(225, 21, 21);

    /* GAP SINGLE VIDEO  */
    --gap-single-video: .5em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
    overflow-y: auto;
}
/* --------- TOP ICON ---------- */
body .top-icon {
    color: white;
    position: fixed;
    font-size: 14px;
}

.top-icon.left {
    top: .5em;
    left: .5em;
}

.top-icon.left i {
    background-color: var(--transparent-button);
    color: var(--active-button);
    padding: 4px;
    border-radius: 5px;
}

.top-icon.right {
    top: .5em;
    right: .5em;
}

.top-icon.right span {
    background-color: var(--transparent-button);
    padding: 4px;
    border-radius: 5px;
}

.top-icon.right span:first-child {
    margin-right: .5em;
}

/* ------ CONTAINER VIDEO ------- */
.container-video {
    width: 90vw;
    margin: 10vh auto 10vh auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--gap-single-video);
}

.single-video {
    min-width: 13%;
    min-height: 10%;
    flex-basis: calc(100% / 7 - var(--gap-single-video) * 6);
    flex-grow: 1;
    position: relative;
}

.single-video img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.single-video img.speaking {
    border: 2px solid var(--active-button);
}

.single-video .audio-badge {
    color: white;
    position: absolute;
    left: 0;
    bottom: 4%;
    background-color: var(--transparent-button);
    padding: 2%;
    border-radius: 5px;
    font-size: 12px;
}

.single-video .hands {
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 25px;
}

/* ----- NAV ----- */
nav {
    background-color: var(--bg-nav);
    color: white;
    font-size: 12px;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: .2em .2em;
}

.nav-button .button {
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
}

.nav-button .button:hover {
    background-color: var(--transparent-button);
}

.nav-button .button > .flexbox {
    flex-direction: column;
}

.nav-button.flexbox {
    align-self: center;
}

.nav-button .button i {
    font-size: 22px;
}

.nav-button .button i.dropdown-icon {
    position: absolute;
    font-size: 14px;
    border-radius: 5px;
    top: 0;
    right: 0;
    padding: 4%;
    margin: 4%;
}

.nav-button .button i.active {
    color: var(--active-button);
}

.nav-button .button i.dropdown-icon:hover {
    background-color: var(--transparent-button);
}

.nav-button .button p {
    margin-top: .4em;
}

.nav-button .close-button {
    background-color: var(--close-button);
    padding: .6em 1.6em;
    margin-right: 1em;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.nav-button .close-button:hover {
    background-color: var(--close-button-hover);
}
